* {
    font-family: Abel;
}

.tech-stack-container {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;
}

h2, h3, h4 {
    text-align: center;
    color: #7f5539;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 1em;
}
.home-buttons {
    width: 45%;
    margin: 1em auto;
}

.homebar {
    display: flex;
    justify-content:end;
    padding: .5em;
    position: sticky;
    top: 60px;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.homebar-link {
    text-decoration: none;
    color: #7f5539;
    padding: 5px;
}

.homebar-link-selected {
    color: white;
    padding: 5px;
    background-color: #E6CCB2;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.testimony-image-container img{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    width: 50px;
    border: 0.5px solid #b08968;
    border-radius: 35px;
}

.testimony {
    padding: 1em;
    border: 0.5px solid #b08968;
    border-radius: 10px;
    margin: 1em 10%;
}

.testimonials {
    margin-bottom: 3rem;
}