form {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    max-width: 80%;
}

form input, textarea, button {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
}

button {
    background-color: #E6CCB2;
}

.contact-buttons {
    width: 45%;
    margin: 1em auto;
}