
.header h1, p {
    text-align: center;
    margin: 10px auto;
    color: #7f5539;
}

.img-container img {
    display: block;
    margin: 1rem auto;
    width: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid #b08968;
    border-radius: 50px;
    padding: 1rem;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: .5em;
    background-color: #E6CCB2;
}

.navbar-link {
    text-decoration: none;
    color: #7f5539;
    font-weight: bolder;
    text-shadow: 3px 2px 2px white;
    padding: 5px;
}

.navbar-link:active, .navbar-link:focus {
    color: white;
    padding: 5px;
    text-shadow: 2px 1px 1px #7f5539;
    background-color: #E6CCB2;
    border-radius: 10px;
}