.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.header h1, p {
    text-align: center;
    margin: 0 auto;
    color: #7f5539;
}

.img-container img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    width: 50px;
    border: 0.5px solid #b08968;
    border-radius: 35px;
    padding: 1rem;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
    background-color: white;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.navbar-avatar-container {
    display: flex;
    justify-content:start;
}
.navbar-container  {
    display: flex;
    justify-content:end;
    padding: .5em;
    background-color: white;
}
.navbar-link {
    text-decoration: none;
    color: #7f5539;
    font-weight: bolder;
    text-shadow: 3px 2px 2px white;
    padding: 5px;
}

.navbar-link-selected {
    color: white;
    padding: 5px;
    background-color: #E6CCB2;
    border-radius: 10px;
}