.navigation {
    position: sticky;
    top: 1;
    z-index: 100;
    background-color: white;
}
.header h1, p {
    text-align: center;
    margin: 0 auto;
    color: #7f5539;
}

.img-container img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    width: 50px;
    border: 0.5px solid #b08968;
    border-radius: 35px;
    padding: 1rem;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
    padding: .5em;
    background-color: #E6CCB2;
}

.navbar-link {
    text-decoration: none;
    color: #7f5539;
    font-weight: bolder;
    text-shadow: 3px 2px 2px white;
    padding: 5px;
}

.navbar-link:active, .navbar-link:focus {
    color: #7f5539;
    padding: 5px;
    text-shadow: 2px 1px 1px white;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid #E6CCB2;
}